/* CSS style for login and login and signup page */
*{
    box-sizing: border-box; /*include the padding and border in an element's total width and height. */
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures items are spaced apart */
    align-items: center; /* Aligns items vertically in the center */
    height: 10vh; /* Maintain the header height */
    padding: 5em 2em 0; /* Add padding for better spacing */
    margin-bottom: 2em;
}

.flex_item_left, .flex_item_right{
    flex: 50%; /* Each flex item takes half the page */
    align-items: center; /* Items in each flex item are displayed in the center */
    justify-content: center;
    text-align: center;
}

.flex_item_right div{
    display: flex;
    flex-direction: column; /* Flex items are displayed vertically */
    align-items: flex-start; /* Align items to the start (left) */
    margin-left: 5em;
    margin-top: 2em;
}

.flex_item_right div p{
    font-size: small; /* Adjust the font size of the items */
}

.flex_item_left div{
    display: flex;
    flex-direction: column; /* Flex items are displayed vertically */
    align-items: flex-start; /* Align items to the start (left) */
    margin: 5em;
    padding-left: 5em;
}

@media (max-width: 1000px) {  /*Adjust page layout when width size is below 1000px*/
    /* Align items that were previously split into two sides of the page into a single column */
    .flex_item_right, .flex_item_left {
    flex: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .flex_item_left div, .flex_item_right div{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}